body {
  background-color: white;
  height: 1000vh;
  margin: 100px 0px;
}
.sub-box {
  margin: 0 70px;
}
.sub-box h1 {
  text-align: center;
  font-size: 25px;
}
.sub-box p {
  text-align: center;
}
.card-box {
  position: sticky;
  top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 500px;
}
.card-box img {
  display: block;
  width: 50%;
  border-radius: 10px;
}
